/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap');

/* tag selectors */
body {
  background-color: #f0afaf ;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}

/* id selectors*/
#ageconfirm {
  margin: auto;
  background-color: #f2c2c2;
  width: 930px;
  height: 200px;
  text-align: center;
  padding: 60px 0 60px 0;
}

#homescreen {
  display: grid;
  height: 800px;
  background-image: url(background.png);
  background-size: 2000px;
  background-repeat: no-repeat;
  background-position: center;
  grid-template-columns: 35% 65%;
}

#introtext {
  font-family: 'Calistoga', cursive;
  color: #150140;
  text-align: right;
  font-weight: normal;
  font-size: 8em;
  padding-right: 25px;
  padding: 20;
  margin: 10px;
}

#drinksbody {
  background-color: #ece6e9;
  margin: auto;
  padding-bottom: 50px;
}

/* class selectors*/
.logo {
  width: 110px;
  padding: 20px;
}

.next {
  text-decoration: none;
  color: #150140;
  grid-column-start: 2;
  text-align: right;
  padding-right: 30px;
  padding-top: 100px;
}

.header {
  height: 100px;
  display: grid;
  grid-template-columns: 2% 97%;
}

.footer {
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.next2 {
  text-decoration: none;
  color: #150140;
  text-align: right;
  padding: 30px 30px 30px 0;
}

.goback {
  text-decoration: none;
  color: #150140;
  text-align: left;
  padding: 30px 0px 30px 30px;
}

.footer {
  display: grid;
  grid-template-columns: 50% 50%;
}

.ingredients, .ingredients-light {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  width: 700px;
  padding-right: 40px;
}

.ingredient-buttons {
  background-color: #f27a83;
  margin: auto;
  margin-bottom: 20px;
  padding: 14px 10px 14px 10px;
  border-radius: 35px;
  width: 150px;
}

.ingredients-light {
  background-color: #f2c2c2;
  padding-top: 1px;
  padding-bottom: 1px;
}

.drinkresult {
  font-family: 'Roboto', sans-serif;
  color: #150140;
  display: grid;
}

.drinkname {
  font-family: 'Calistoga', cursive;
  color: #150140;
  text-align: left;
  padding-top: 10px;
  font-size: 2em;
}

.drinkheading {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
  width: 710px;
}

.skilllevel {
  font-weight: lighter;
}

.drinkbox {
  display: grid;
  grid-template-columns: 13% 87%;
  margin: auto;
}

.drinkimages {
  width: 210px;
  z-index: 2;
}

.skillimages {
  width: 100px;
}

.info {
  background-color: #f2c2c2;
  display: grid;
  grid-template-columns: 40% 60%;
  font-size: 1.3em;
  width: 710px;
  height: 210px;
  z-index: 1;
}

.drinkingredients {
  padding: 0 0 0 100px;
  list-style-type: none;
  margin: auto;
}

.recipe {
  font-weight: lighter;
  width: 340px;
  padding: 20px 10px 20px 30px;
}

/* descendant selectors */

.next h2 {
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  padding-right: 320px;
}

.next img {
  float: right;
}

#ageconfirm h2 {
  font-family: 'Calistoga', cursive;
  color: #150140;
  font-size: 3em;
  font-weight: normal;
  margin: 0;
  margin-bottom: 70px;
}

#ageconfirm a {
  text-decoration: none;
  color: white;
  background-color: #f27a83;
  font-size: 1.5em;
  padding: 20px 130px 20px 130px;
  margin: 20px;
  border-radius: 35px;
}

.header h1 {
  color: white;
  margin: auto;
  font-weight: normal;
  font-family: 'Calistoga', cursive;
  font-size: 2em;
}

.ingredients ul, .ingredients-light ul {
  list-style-type: none;
}

.ingredients h1, .ingredients-light h1{
  font-family: 'Calistoga', cursive;
  color: #150140;
  text-align: center;
  padding-top: 10px;
  padding-left: 45px;
}

.next2 h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
  padding-right: 240px;
  cursor: pointer;
}

.goback h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
  padding-left: 330px;
}

.goback img, .next2 img {
  width: 400px;
}

.ingredients ul, .ingredients-light ul {
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
}

.drinkheading p{
  font-size: 1.3em;
  text-align: right;
}

.drinkheading h1{
  text-align: left;
}

/* media query */

@media only screen and (max-width: 1230px) {

  #homescreen {
  background-size: 1200px;
  background-position: bottom;
  height: 750px;
  grid-template-columns: 20% 80%;
  }

  #introtext {
    font-size: 5.4em;
    padding-bottom: 0px;
    height: 80px;
  }

  .next {
    padding-right: 30px;
    padding-top: 0px;
  }

  .next h2 {
    font-size: 1.5em;
    padding-right: 200px;
  }

  .next img {
    width: 330px;
  }
}

}

@media only screen and (max-width: 800px) {

  #homescreen {
  background-size: 700px;
  background-position: bottom;
  height: 600px;
  grid-template-columns: 20% 80%;
  }

  .logo {
    width: 80px;
  }

  #introtext {
    font-size: 4em;
    padding-bottom: 0px;
    height: 80px;
  }

  .next {
    padding-right: 30px;
    padding-top: 0px;
  }

  .next h2 {
    font-size: 1em;
    padding-right: 170px;
  }

  .next img {
    width: 255px;
  }
}

@media only screen and (max-width: 700px) {

  #homescreen {
    background-size: 900px;
    height: 550px;
  }

  #introtext {
    font-size: 3.5em;
  }

  .logo {
    width: 60px;
  }

  .next img {
    width: 210px;
  }

  .next h2 {
    font-size: 0.9em;
    padding-right: 135px;
  }

}

@media only screen and (max-width: 510px) {
  #homescreen {
  background-size: 500px;
  height: 450px;
  grid-template-columns: 10% 90%;
  }

  #introtext {
    font-size: 2.2em;
    height: 0px;
  }

  .logo {
    width: 40px;
  }

  .next img {
    width: 190px;
  }

  .next h2 {
    font-size: 0.8em;
    padding-right: 120px;
  }

}
