{% extends "base.html" %}

{% block title %}Results - Mixer{% endblock %}

{% block content %}

  <div class="header">
      <img src="static/logo.png" class="logo">
      <h1 class="title">You should try...</h1>
  </div>

  <div id="drinksbody">
    <div class="drinkresult">
      <h1 class="drinkname">Tequila Sunrise</h1>
      <p>Skill: <img class="skillimages" src="static/skill2.png"> <span class="skilllevel">Abit fancy</span> </p>
      <img class="drinkimages" src="static/tequilasunrise.png">
      <div class="info">
        <ul class="drinkingredients">
          <li>Tequila</li>
          <li>Orange juice</li>
          <li>Grenadine</li>
        </ul>
        <p class="recipe">Add 60ml tequila and120ml orange juice to a glass filled with ice. Top with 10ml grenadine which should sink to the bottom, creating a layered effect</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <a class="goback" href="{{url_for('home') }}">
      <h2>Home</h2>
      <img src="static/arrowleft.png"/>
    </a>
  </div>

{% endblock %}
