{% extends "base.html" %}

{% block title %}Results - Mixer{% endblock %}

{% block content %}

  <div class="header">
      <img src="static/logo.png" class="logo">
      <h1>You should try...</h1>
  </div>

  <div id="drinksbody">
    {% for drink in matches %}
    <div class="drinkresult">
      <div class="drinkheading">
        <h1 class="drinkname">{{ drink[1] }}</h1>
        <p>Skill: <img class="skillimages" src="static/skill{{ drink[4] }}.png"></p>
      </div>
      <div class="drinkbox">
        <img class="drinkimages" src="{{ url_for('static', filename=drink[2]) }}">
        <div class="info">
          <ul class="drinkingredients">
            <li>{{ drink[3] }}</li>
          </ul>

          <p class="recipe">{{ drink[5] }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="footer">
    <a class="goback" href="{{url_for('home') }}">
      <h2>Home</h2>
      <img src="static/arrowleft.png"/>
    </a>
  </div>

{% endblock %}
