{% extends "base.html" %}

{% block title %}Select ingredients - Mixer{% endblock %}

{% block content %}

  <div id"body">

      <div class="header">
          <img src="static/logo.png" class="logo">
          <h1 class="title">Select the ingredients you have:</h1>
      </div>

      <form action="{{url_for('drinks') }}" method="post" id="selection_form">
          <div class="ingredients-light">
            <h1>Spirits*</h1>
            <ul>
              {% for spirit in spirits %}
              <li class="ingredient-buttons">
                <input type= "checkbox" name="{{ spirit[0] }}"/>
                {{ spirit[0] }}
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="ingredients">
            <h1>Wines/Liqueurs</h1>
            <ul>
              {% for wine in wines %}
              <li class="ingredient-buttons">
                <input type= "checkbox" name="{{ wine[0] }}"/>
                {{ wine[0] }}
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="ingredients-light">
            <h1>Mixers</h1>
            <ul>
              {% for mixer in mixers %}
              <li class="ingredient-buttons">
                <input type= "checkbox" name="{{ mixer[0] }}"/>
                {{ mixer[0] }}
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="ingredients">
            <h1>Fresh</h1>
            <ul>
              {% for fresh in freshstuff %}
              <li class="ingredient-buttons">
                <input type= "checkbox" name="{{ fresh[0] }}"/>
                {{ fresh[0] }}
              </li>
              {% endfor %}
            </ul>
          </div>

        <div class="ingredients-light">
          <h1>Other</h1>
          <ul>
            {% for other in others %}
            <li class="ingredient-buttons">
              <input type= "checkbox" name="{{ other[0] }}"/>
              {{ other[0] }}
            </li>
            {% endfor %}
          </ul>
        </div>

        <div class="footer">
          <a class="goback" href="{{url_for('home') }}">
            <h2>Home</h2>
            <img src="static/arrowleft.png"/>
          </a>
          <a class="next2" onclick="document.getElementById('selection_form').submit()">
            <h2>Find your drink</h2>
            <img src="static/arrow.png"/>
          </a>
      </div>

      </form>

  </div>

{% endblock %}
